@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  font-family: "Open Sans", sans-serif;
}

.gradient{
  /**background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  **/
  background-image: linear-gradient(to right, #2d6ccd, #636cdb, #916ae4, #bc63e6, #e658e2);
}


@keyframes blink {
    0%, 100% { opacity: 1 }
    50% { opacity: 0 }
  }
  .animate-blink {
    animation: blink 1s step-start infinite;
  }